<div data-ng-cloak class="container">
  <div class="row"><div class="col-lg-12">&nbsp;</div></div>
  <div class="row">
    <div class="col-lg-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="make" class="control-label">Make</label>
              <input class="form-control" type="text" id="make" name="make" data-ng-model="queryOptions['make-name']" placeholder="e.g. Dodge" />
            </div>
            <div class="form-group required">
              <label for="model" class="control-label">Model</label>
              <input class="form-control" type="text" id="model" name="model" data-ng-model="queryOptions['model-name']" placeholder="e.g. Durango" required="true" />
            </div>
            <div class="form-group">
              <label for="minYear" class="control-label">Minimum Year</label>
              <input class="form-control" type="number"  min="1950" max="2100" step="1" id="minYear" name="minYear" data-ng-model="queryOptions['minimum-model-year']"/>
            </div>
            <div class="form-group">
              <label for="maxYear" class="control-label">Maximum Year</label>
              <input class="form-control" type="number"  min="1950" max="2100" step="1" id="maxYear" name="maxYear" data-ng-model="queryOptions['maximum-model-year']"/>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" data-ng-click="query()">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-condensed table-responsive table-hover table-bordered table-striped">
            <tr>
              <th>Make</th>
              <th>Model</th>
              <th>Year</th>
              <th>Recall Number</th>
            </tr>
            <tr data-ng-repeat="recall in resultSet | orderBy:'year'" data-ng-class="{success: isSelected(recall)}" data-ng-click="details(recall.recallNumber)">
              <td>{{recall.make}}</td>
              <td>{{recall.model}}</td>
              <td>{{recall.year}}</td>
              <td><a href="javascript:void(0)">{{recall.recallNumber}}</a></td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <div class="btn-group" role="group" aria-label="Get previous or next results, if applicable">
            <button class="btn btn-default" data-ng-disabled="!previousResults()" data-ng-click="queryPrevious()">Previous</button>
            <button class="btn btn-default" data-ng-disabled="!moreResults()" data-ng-click="queryNext()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" data-ng-if="summary" data-ng-cloak>
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-10">
      <table class="table table-responsive table-condensed table-hover table-bordered table-striped">
        <tr>
          <th>Recall Date</th>
          <th>Summary</th>
        </tr>
        <tr>
          <td>{{getRecallDate()}}</td>
          <td>{{getSummaryText()}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>